#include <WinVer.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     3,1,0,2
PRODUCTVERSION  3.1
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS       VS_FF_DEBUG
#else
FILEFLAGS       0x0L
#endif
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_DRV_KEYBOARD
BEGIN
   BLOCK "StringFileInfo"
   BEGIN
       BLOCK "041904B0"
       BEGIN
           VALUE "CompanyName",      "ОЗонъ"
           VALUE "LegalCopyright",   "©2014-2026 ОЗонъ"
           VALUE "FileDescription",  "Славянская разкладка"
           VALUE "ProductName",      "Разкладка клавіатуры"
           VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
           VALUE "InternalName",     VER_INTERNALNAME_STR
           VALUE "ProductVersion",   "3.1"
       END
   END
   BLOCK "VarFileInfo"
   BEGIN
       VALUE "Translation", 0x0419, 1200
   END
END

STRINGTABLE DISCARDABLE
LANGUAGE 0x19, 1
BEGIN
    1000    "А́збука"  // Layout Text
    1100    "Русскій" // Layout Language Name
    1200    "ru-RU"   // Layout Locale Name
END
